.bottom{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

button:hover {
    background: #5a67d8;
}

button:active {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
*{
    font-family: Arial, Helvetica, sans-serif;
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,html{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    


}

.card{

    height: 300px;
    width: 500px;
    background-color: white;
     border-radius: 10px;
     padding: 30px;}

.outer {
    width: 100%;
    height: 18px;
    background-color: rgb(181, 181, 181);
    border-radius: 50px;
    
}

.inner {

    width: 0%;
    height:100%;
    background-color: green;
    border-radius: 50px;
   
}

.bottom button {
    padding : 12px 25px ;
    background-color: green;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    
}
.bottom h2 {
    font-size: 40px;
}

.card p{
    font-weight: 400;
    align-items: center;
    margin-bottom: 20px ;
}

.card p span{

    font-weight: 600;
    color: royalblue;
}